body{
    background-color: #50a3d3;
    margin: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.homepage_tittle{
    margin: 0;
}

.submit-button{
    margin-top: 3%;
    height: 50px;
    background-color: #000;
    color: whitesmoke;
}
form{
    display: flex;
    flex-direction: column;
    width: 30%;
}